@import url('https://fonts.cdnfonts.com/css/star-wars');

#FilmCard{
    color: var(--yellow);
    border: 2px solid var(--yellow);
    font-family: 'Star Wars', sans-serif;
    margin: 1em;
    width: fit-content;
    padding: 1em;
    border-radius: 12px;
    transition: 0.5s;
}

#FilmCard:hover{
    box-shadow: 0px 0px 25px 0px var(--yellow);
    cursor: pointer;
    transition: 0.5s;
}

#FilmCard h1{
    letter-spacing: 2px;
    background-color: black;
}