@font-face {
    font-family: 'Star Jedi';
    src: url('../../fonts/starwars.ttf') format('truetype');
}

#FilmCard{
    color: var(--yellow);
    border: 2px solid var(--yellow);
    font-family: 'Star Jedi', sans-serif;
    margin: 1em;
    width: 100%;
    max-width: 500px;
    padding: 1em;
    border-radius: 12px;
    transition: 0.5s;
}

#FilmCard a:hover + #FilmCard{
    box-shadow: 0px 0px 25px 0px var(--yellow);
    transition: 0.5s;
}

#FilmCard h1{
    letter-spacing: 2px;
    margin: 0.5em 0;
    background-color: black;
}

#FilmCard p{
    background-color: black;
}

#FilmCard a{
    color: var(--yellow);
    background-color: black;
    text-decoration: none;
    cursor: pointer;
}