
#CharacterCard{
    color: var(--yellow);
    border: 2px solid var(--yellow);
    font-family: 'Star Wars', sans-serif;
    margin: 1em;
    width: 100%;
    max-width: 300px;
    padding: 1em;
    border-radius: 12px;
    transition: 0.5s;
}

#CharacterCard:hover{
    box-shadow: 0px 0px 25px 0px var(--yellow);
    cursor: pointer;
    transition: 0.5s;
}

#CharacterCard h1{
    letter-spacing: 2px;
    background-color: black;
}