#Home{
    background-image: url('https://cdn.wallpapersafari.com/96/60/ZBf0Im.jpg');
    width: 100%;
    min-height: 100vh;
}

.filmsFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}