
:root{
    --yellow: #FFE81F
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;
    text-align: center;
}

p{margin: 0;}

.PageStyle {
    background-image: url('https://cdn.wallpapersafari.com/96/60/ZBf0Im.jpg');
    width: 100%;
    min-height: 100vh;
}

.PageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
}

#Error {
    color: var(--yellow);
}

#loader{
    height: 100vh;
}

#loader h1{
    color: var(--yellow)
}